 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "Home", root_path, class:"navbar-brand"%>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%=link_to destroy_user_session_path , method: :delete do %>
        <i class=""></i>Log out
        <%end%>
      </li>
      <li>
        <%=link_to new_user_session_path do%>
          <i class=""></i>Log in
          <%end%>
      </li>
    </ul>
  </div>
</nav> 